**/.git
**/.idea
**/.venv
**/node_modules
**/dist
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.env
**/.env.*
!**/.env.example
algos/*
!algos/scheme
backtest
mvp
jupyter/*
!jupyter/uv.toml
**/.test-runs
**/.venv
**/__pycache__
**/dist
