[submodule "backend"]
	path = backend
	url = https://github.com/Genesis-Quant/solo-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Genesis-Quant/solo-frontend.git
[submodule "backtest"]
	path = backtest
	url = https://github.com/Genesis-Quant/backtest.git
[submodule "algos"]
	path = algos
	url = https://github.com/Genesis-Quant/solo-algos.git
[submodule "jupyter"]
	path = jupyter
	url = https://github.com/Genesis-Quant/solo-jupyter.git
[submodule "runtime"]
	path = runtime
	url = https://github.com/Genesis-Quant/solo-runtime.git
