[submodule "backend"]
	path = backend
	url = https://gitee.com/genesis-quant/solo-backend.git
[submodule "frontend"]
	path = frontend
	url = https://gitee.com/genesis-quant/solo-frontend.git
[submodule "backtest"]
	path = backtest
	url = https://gitee.com/genesis-quant/backtest.git
[submodule "algos"]
	path = algos
	url = https://gitee.com/genesis-quant/solo-algos.git
[submodule "jupyter"]
	path = jupyter
	url = https://gitee.com/genesis-quant/solo-jupyter.git
[submodule "runtime"]
	path = runtime
	url = https://gitee.com/genesis-quant/solo-runtime.git
